---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Creative technologist, builder, and researcher bridging culture, tech, and education."
	pubDate={new Date('July 22 2025')}
	heroImage="/images/headshot.jpg"
>
	
  <p>
    I'm Maissa Kobelé Keita — a creative technologist, researcher, and builder with a passion for education, entrepreneurship, and West African culture. I'm currently studying Computer Science and Applied Mathematics at UC Berkeley, while working at the <strong>Sutardja Center for Entrepreneurship and Technology (SCET)</strong> as an Operations & Data Systems Assistant.
  </p>

  <p>
    I explore how technology can empower communities, especially across the African diaspora. One of my current projects is a digital archive initiative for Guinea that preserves oral history, family memory, and cultural heritage through community-powered storytelling. I’m also working on a Chinese language learning app (Wavely) and conducting research in human-computer interaction (HCI) on assistive gaming for kids and low-skill players.
  </p>

  <p>
    My work blends software, UX, product strategy, and social impact. I’ve interned at Microsoft (Product & Software Engineering), FICO, and startups, and I’m the founder of <strong>Maneka</strong>, a social enterprise supporting Guinean youth through events, business ventures, and community infrastructure.
  </p>

  <p>
    I’m driven by curiosity, design, and systems thinking snd I’m always learning. If you’re interested in tech for learning, African innovation, or just building cool stuff, let’s connect.
  </p>
</Layout>
